.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.box__q5R97 {
  display: block;
  position: relative;
  width: 336px;
  height: 322px;
  flex-shrink: 0;
}
.box__pjzLq {
  position: absolute;
  left: 0px;
  top: 0px;
}
